$border-radius-top: 20px;
$border-radius-bottom: 50px;

$grad-a: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%);
$grad-c: linear-gradient(180deg, rgba(190, 212, 255, 0.80) 0%, rgba(246, 190, 255, 0.80) 29.48%, rgba(212, 203, 255, 0.78) 55.52%, rgba(250, 160, 246, 0.80) 82.08%, rgba(208, 172, 254, 0.80) 98.23%);


.container {
  --border-width: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .testimoni-text {
    position: relative;
    border-radius: $border-radius-top $border-radius-bottom;
    background: $grad-c;
    padding: 20px;
    width: 70%;
    text-align: center;
    z-index: 1;
    .author {
      display: block;
      text-align: center;
      font-weight: 600;
      margin-top: 15px;
    }
  }
}

.testimoni-text::before{
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: white;
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: calc(#{$border-radius-top} - var(--border-width)) calc(#{$border-radius-bottom} - var(--border-width));
  z-index: -1;
}

.testimoni-text {
  // background-color: black;
}

.testimonial-user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 45px;
  // background-color: aqua;
}

.user-container {
  --border-width: 5px;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 70px 20px 40px 20px;
  background: var(--white, #FFF);
  position: relative;
  overflow: hidden;
  background: $grad-c;
  z-index: 1;
  
  .author-pic {
    height: 175px;
    border-radius: 80px 20px 0px 0px;
    position: relative;
    display: inline-block;
    // overflow: hidden;
    // object-fit: cover;
  }

  .author-name {
    font-size: 14px;
    font-weight: 600;
  }

  .author-job {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.user-container img {
  width: 165px;
  // height: 150px;
  object-fit: cover;
  position: relative;
  display: inline-block;
  overflow: hidden;
}


.user-container::before{
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: white;
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: calc(70px - var(--border-width)) calc(20px - var(--border-width)) calc(40px - var(--border-width)) calc(20px - var(--border-width));
  z-index: -1;
}


.icon-arrow {
  height: 80px;
  width: 80px;
}

#arrow-left {
  transform: scaleX(-1);
}

